app:
  name: test-devops-app
  replicaCount: 1
  
image:
  repository: asia-southeast1-docker.pkg.dev/test-devops-478606/test-devops-images/test-devops
  tag: "v1.1"
  pullPolicy: IfNotPresent

service:
  port: 3000

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

env:
  NODE_ENV: "production"
  PORT: "3000"
  STATSD_HOST: "graphite"
  STATSD_PORT: "8125"

graphite:
  enabled: true
  replicaCount: 1
  storage: 5Gi

