apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: test-devops-backend-config
  namespace: {{ .Release.Namespace }}
spec:
  healthCheck:
    checkIntervalSec: 10
    timeoutSec: 5
    healthyThreshold: 1
    unhealthyThreshold: 3
    type: HTTP
    requestPath: /health
    port: {{ .Values.app.port }}
  connectionDraining:
    drainingTimeoutSec: 300