name: Build & Push to GCP Artifact Registry

on:
  push:
    branches: [ "main", "develop" ]
    tags:
      - "v*"
  workflow_dispatch:


env:
  PROJECT_ID: test-devops-478606
  REGION: asia-southeast1
  REPO_NAME: test-devops-images
  IMAGE_NAME: test-devops
  IMAGE_TAG: latest

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Initialize environment variables
        run: |
          set -euo pipefail
          
          echo "Git Ref: $GITHUB_REF"
          echo "Git Ref Name: $GITHUB_REF_NAME"
          echo "Git Ref Type: $GITHUB_REF_TYPE"
          
          # Short commit hash
          SHORT_COMMIT="$(echo "$GITHUB_SHA" | cut -c1-7)"
          
          # Define IMAGE_TAG
          if [ "$GITHUB_REF_TYPE" = "tag" ]; then
            IMAGE_TAG="$GITHUB_REF_NAME"
          elif [ "$GITHUB_REF_NAME" = "main" ] || [ "$GITHUB_REF_NAME" = "develop" ]; then
            IMAGE_TAG="${GITHUB_REF_NAME}-${SHORT_COMMIT}"
          else
            IMAGE_TAG="dev-${SHORT_COMMIT}"
          fi
          
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV